extend layout/_layout_side_l.jade

mixin keeptb(date,number,title)
	tr
		td=date
		td
			a.order_link(href="javascript:;", data-toggle="modal", data-target=".serial_number")=number
		td
			a(href="nav_product_saler.html")=title

mixin emaillist(salerurl,img,buyerurl,name,date)
	li
		.email_titlebar
			a.email_tipsimg(href=salerurl,style=img)
			.email_info
				h4: a(href=buyerurl)=name
				span=date
		.email_content.textedit
			block

block breadcrumb
	.col-xs-12
		ol.breadcrumb.text-right
			li
				a(href='index.html') HiClicks
			li
				a(href='javascript:;') 會員專區
			li
				a(href='javascript:;') 我的訂單
			li.active 評價系統

block sidenav
	include include/_mem_sidebar.jade

block content
	h2(style='display:none;') HiClicks 會員專區
	.trans_content
		.trans_titlebar
			h1 評價系統
		.bonus.keep
			table.table.tablestyle.keep_tb.rats_s(data-toggle-column="first")
				thead
					tr
						th 訂單成立日期
						th 訂單編號
						th 店家名稱
				tbody
					+keeptb('2017-11-21','123456789','桃樂絲美國代購')

		.ratingbox.mt20
			.row
				.col-xs-12
					form.form-horizontal.contact_form
						.form-group
							label.col-sm-2.control-label(for='')
								| 評價星級：
							.col-sm-10
								fieldset.star
									input#star5(type='radio', name='rating', value='5')
									label.full(for='star5', title='5顆星 = 5分')
									input#star4(type='radio', name='rating', value='4')
									label.full(for='star4', title='4顆星 = 4分')
									input#star3(type='radio', name='rating', value='3')
									label.full(for='star3', title='3顆星 = 3分')
									input#star2(type='radio', name='rating', value='2')
									label.full(for='star2', title='2顆星 = 2分')
									input#star1(type='radio', name='rating', value='1')
									label.full(for='star1', title='1顆星 = 1分')
						.form-group
							label.col-sm-2.control-label(for='')
								| 評價意見：
							.col-sm-10
								.rating_btn
									span.rating_talk
										input#rating01(type='radio', name='ratingtext', value='')
										label(for='rating01') 值得推薦的賣家
									span.rating_talk
										input#rating02(type='radio', name='ratingtext', value='')
										label(for='rating02') 有誠信的賣家
									span.rating_talk
										input#rating03(type='radio', name='ratingtext', value='')
										label(for='rating03') 超完善的包裝
									span.rating_talk
										input#rating04(type='radio', name='ratingtext', value='')
										label(for='rating04') 超貼心的服務
									span.rating_talk
										input#rating05(type='radio', name='ratingtext', value='')
										label(for='rating05') 超讚的CP值
									span.rating_talk
										input#rating06(type='radio', name='ratingtext', value='')
										label(for='rating06') 超快的回覆速度
									span.rating_talk
										input#rating07(type='radio', name='ratingtext', value='')
										label(for='rating07') 超讚的服務態度
									span.rating_talk
										input#rating08(type='radio', name='ratingtext', value='')
										label(for='rating08') 超讚的商品
									span.rating_talk
										input#rating09(type='radio', name='ratingtext', value='')
										label(for='rating09') 超快的出貨速度
									span.rating_talk
										input#rating10(type='radio', name='ratingtext', value='')
										label(for='rating10') 超值得推薦的商品
						.form-group
							.col-sm-offset-2.col-sm-10
								textarea.form-control(rows='5', placeholder='')
						.form-group
							.col-sm-offset-2.col-sm-10
								button.btn.btn-block.btn_black(type='submit') 送出
								p.red.mi.mt20 評價留言不接受修改或刪除，避免引起雙方誤會請勿使用任何不雅文字。

block lightbox	
	//- lightbox區塊
	.modal.fade.serial_number(tabindex='-1', role='dialog', aria-labelledby='abc')
		.modal-dialog.modal-lg.modal_center(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h5#abc.modal-title.black 訂單編號：1234567890
				.modal-body
					p.mi.red.mt10.visible-xs 表格可以左右滑動觀看資料
					.table-responsive
						table.table.history
							tr
								th 訂單編號
								td(data-th='訂單編號') 1234567890
								th 下單時間
								td(data-th='下單時間') 2017-10-18
								th 訂購會員
								td(data-th='訂購會員') 王大明
								th 訂單狀態
								td(data-th='訂單狀態') 待付款
							tr
								th 付款時間
								td(data-th='付款時間') 2017-12-28 23:38
								th 付款期限
								td(data-th='付款期限') 2017-12-29 23:59
								th 付款資訊
								td(colspan="3", data-th='付款資訊') 銀行代碼：005
									br
									|虛擬帳戶：5219-8013-4515-3413
							tr
								th 出貨時間
								td(data-th='出貨時間') 2018-01-01 09:52
								th 取消時間
								td(data-th='取消時間') ---
								th 取消原因
								td(colspan="3", data-th='取消原因') ---
							tr
								th 商品金額
								td(data-th='商品金額') 
									p.any_price(data-mark="NT$") 4,000
								th 折扣金額
								td(data-th='折扣金額') ---
								th 運費
								td(data-th='運費') 
									p.any_price(data-mark="NT$") 250
								th 總訂單金額
								td(data-th='總訂單金額') 
									p.any_price.red(data-mark="NT$") 4,250
							tr
								th 付款方式
								td(data-th='付款方式') 線上刷卡
								th 運送方式
								td(data-th='運送方式') 店到店
								th 包裹單號
								td(colspan="3", data-th='包裹單號') 1234567890
							tr
								th 收貨人
								td(data-th='收貨人') 王大明
								th 收貨人電話
								td(data-th='收貨人電話') 0912-345678
								th 收件地址
								td(colspan="3",data-th='收件地址') 7-11 風和門市
							tr
								th 備註：
								td(colspan='7') 送貨前請電聯
					table.table.history_listtb
						caption.text-center 商品明細
						tbody
							tr
								td
									ul.row.history_list_child
										li.col-sm-3.col-md-2
											a(href="nav_product_detail.html")
												.imgbox(style="background-image: url(images/blog/1.jpg);")
										li.col-sm-5.col-md-7
											p.store_protitle.now
												a(href="nav_product_detail.html")
													|【樂芙夏夏】日本 JOUL'S VERNI ＊甜美香氛＊ 珍珠吊飾超美的香水 護手霜/指緣滋潤霜50g
											ul.list-inline.cart_proinfo
												li(data-info='顏色') 金黃色
												li(data-info='尺寸') XL
										li.col-sm-2.col-md-2
											|數量：1
										li.col-sm-2.col-md-2
											|單價：
											span.any_price(data-mark="NT$") 1,000
							tr
								td
									ul.row.history_list_child
										li.col-sm-3.col-md-2
											a(href="nav_product_detail.html")
												.imgbox(style="background-image: url(images/blog/3.jpg);")
										li.col-sm-5.col-md-7
											p.store_protitle.wait
												a(href="nav_product_detail.html") melody 立體造型靠墊毛毯 預購 收納毛毯靠枕 毯子 被子 冷氣毯 紅.趴姿.可捲起收納
											ul.list-inline.cart_proinfo
												li(data-info='顏色') 黃色
												li(data-info='尺寸') M
										li.col-sm-2.col-md-2
											|數量：1
										li.col-sm-2.col-md-2
											|單價：
											span.any_price(data-mark="NT$") 1,000